.cool_stuff{
	height:260px;
}
.col1{
	width:25%;
	float:left;
}
.col2{
	width:75%;
	float:left;
}
img{
	width:300px;
	height:250px;
}
p{
	font-size:25pt;
	color:white;
}

.col2 a:link {
	color: lightblue;
}

.col2 a:visited {
	color: lightpink;
}

body{
	background-image: url('Screenshot 2024-07-16 232420.png')
}