@font-face {
	font-family: 'Rumble-Brave';
	src: url(fonts/Rumblebrave-Yw72.otf);
}

@font-face {
	font-family: 'RufinaB';
	src: url(fonts/Rufina-Bold.ttf);
}

@font-face {
	font-family: 'RufinaR';
	src: url(fonts/Rufina-Regular.ttf);
}

body {
	/*issue 1: can't get bgdots onto the background; also, how to change opacity?*/
	background: linear-gradient(180deg, rgba(89, 191, 229, 100%) 0%, rgba(193, 190, 41, 100%) 100%);
	cursor: url('cursor.png'), auto;	
}

h1 {
	font-family: Rumble-Brave;
	font-size: 144px;
}

hr {
	background-color: #D72F4A;
	width: 90%;
	height: 7px;
	border-radius: 5px;
	border: 0 none;
}

.titlecont {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

	.titlecont .title {
		display: flex;
		padding-left: 80px;
		padding-top: 15px;
		padding-bottom: 5px;
		font-family: RufinaB;
		font-size: 45px;
	}

.myswamp {
	display: flex;
	padding-left: 35px;
	padding-top: 40px;
	padding-bottom: 40px;
}
	img {
		transition: all linear 1s; 
	}
	img.myswamp-img {
		position: absolute;
		top: 148px;
		left: 43px;
		opacity: 1;
	}
	.myswamptit:hover img.myswamp-img{
		opacity: 0;
		cursor: url('shreklennycur.png'), auto;
	}
	.myswamptit:hover img{
		opacity: 1;
		cursor: url('shreklennycur.png'), auto;
	}

.enoughreg {
	display: flex;
	padding-left: 35px;
	padding-top: 40px;
	padding-bottom: 40px;
}
	img {
		transition: all linear 1s; 
	}
	img.enoughreg-img {
		position: absolute;
		top: 748px;
		right: 102px;
		opacity: 1;
	}
	.enoughregit:hover img.enoughreg-img{
		opacity: 0;
		cursor: url('shreklennycur.png'), auto;
	}
	.enoughregit:hover img{
		opacity: 1;
		cursor: url('shreklennycur.png'), auto;
	}

.shrekt {
	display: flex;
	padding-left: 35px;
	padding-top: 40px;
	padding-bottom: 40px;
}
	img {
		transition: all linear 1s; 
	}
	img.shrekt-img {
		position: absolute;
		top: 1348px;
		left: 43px;
		opacity: 1;
	}
	.shrektit:hover img.shrekt-img{
		opacity: 0;
		cursor: url('shreklennycur.png'), auto;
	}
	.shrektit:hover img{
		opacity: 1;
		cursor: url('shreklennycur.png'), auto;
	}

.lmarke {
	display: flex;
	padding-left: 35px;
	padding-top: 40px;
	padding-bottom: 40px;
}
	img {
		transition: all linear 1s; 
	}
	img.lmarke-img {
		position: absolute;
		top: 1948px;
		right: 102px;
		opacity: 1;
	}
	.lmarkeit:hover img.lmarke-img{
		opacity: 0;
		cursor: url('shreklennycur.png'), auto;
	}
	.lmarkeit:hover img{
		opacity: 1;
		cursor: url('shreklennycur.png'), auto;
	}

.charming {
	display: flex;
	padding-left: 35px;
	padding-top: 40px;
	padding-bottom: 40px;
}
	img {
		transition: all linear 1s; 
	}
	img.charming-img {
		position: absolute;
		top: 2548px;
		left: 43px;
		opacity: 1;
	}
	.charmingit:hover img.charming-img{
		opacity: 0;
		cursor: url('shreklennycur.png'), auto;
	}
	.charmingit:hover img{
		opacity: 1;
		cursor: url('shreklennycur.png'), auto;
	}

.tbub {
	display: flex;
	align-items: center;
	padding: 20px;
}

/* Media Query for mobile styles*/
@media only screen and (max-width:  600px) {
	.titlecont .title {
	    font-size: 8vh;
	    align-items: center;
	    justify-content: center;
	    /*background-color: blue;*/
	    padding-right: 50px;
	    padding-left: 120px;
	  }

	.myswamp-img {
		display: none;
	}
	.enoughreg-img {
		display: none;
	}
	.myswamp-img {
		display: none;
	}
	.shrekt-img {
		display: none;
	}
	.lmarke-img {
		display: none;
	}
	.charming-img {
		display: none;
	}

	.tbub {
		display: none;
	}
}