body {
  background-color: ghostwhite;
  color:  darkslategray;
  margin: 0;
  padding: 20px;
}

h1 {
  font-weight: normal;
  font-size:  20px;
  padding-left: 80px;
}

svg {
  /*background-color:  white;*/
}

.tick {
  font-size:  20px;
  letter-spacing: 1px;
}

.domain {
  display: none;
}

line {
  display: none;

}

/*.rectangleC {
  transition: fill 500ms ease;
}

.rectangleC:hover {
  fill: skyblue;
  cursor: pointer;
}

.rectangleM {
  transition: fill 500ms ease;
}

.rectangleM:hover {
  fill: yellow;
  cursor: pointer;
}

.rectangleH {
  transition: fill 500ms ease;
}

.rectangleH:hover {
  fill: red;
  cursor: pointer;
}*/


.rectangle {
  transition: fill 500ms ease;
}

.rectangle:hover {
  /*fill: #ff6af5;*/
  cursor: url(mid.png), auto;
}

.hot {
  width: 150px;
  height: 425px;
  position: absolute;
  bottom: 120px;
  left: 475px;
  opacity: 0;
}

.hot:hover {
  cursor: url(hot.png), auto;
}

.cold1 {
  width: 150px;
  height: 335px;
  position: absolute;
  bottom: 120px;
  left: 145px;
  opacity: 0;
}

.cold1:hover {
  cursor: url(cold.png), auto;
}

.cold2 {
  width: 150px;
  height: 365px;
  position: absolute;
  bottom: 120px;
  right: 145px;
  opacity: 0;
}

.cold2:hover {
  cursor: url(cold.png), auto;
}



/*.rectangle:hover {
  cursor: url(cold.png), auto;

}

.rectangle:hover {
  cursor: url(mind.png), auto;

}

.rectangle:hover {
  cursor: url(hot.png), auto;

}*/