body {
	padding-left: 30px;
	padding-right: 30px;
	background-color: #DCC3B5;
	font-family: sans-serif;
}

hr {
	background-color: black;
	color: black;
	border-radius: 50px;
	border: none;
	height: 8px;
}

h1 {
	font-size: 50px;
}

h2 {
	padding-left: 25px;
	padding-right: 25px;
}

p {
	padding-left: 25px;
	padding-right: 25px;
}

.vl {
	border: 5px solid black;
	height: 25px;
	position: absolute;
	top: 125px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*align-items: center;*/
}

.containerTab {
	display: none;
	background: #FCF1EB;
	border: 5px solid black;

	width: 428px;
	height: 500px;

	position: absolute;
	top: 141px;
	right: 40px;
}

.mirror {
	display: flex;
	background-color: #FCF1EB;
	width: 1200px;
	height: 500px;
	border: 5px solid black;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.box {
	float: left;
	/*width: 33.33%;*/
	width: 30px;
	/*height: 40%;*/
	height: 30px;
	padding: 30px;
	margin-bottom: 30px;

	text-align: center;
	font-size: 15px;

	cursor: pointer;
	color: white;
	/*background-color: #DCC3B5;*/
	background-color: #B48A72;
	border: 5px solid black;
}

/*Clear floats after the columns*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the image*/
.closebtn {
  /*float: left;*/
  padding-left: 20px;
  color: black;
  font-size: 35px;
  cursor: pointer;
}